// Application colors
$background-color: #141414;
$header-background-color: #2a2a29;

// font variables
$general-font-color: #fefefe;
$general-text-size: 1em;
$primary-header-font-color: #fefefe;
$primary-header-font-size: 2.5em;
$secundary-header-font-color:#00FC87;
$secundary-header-font-size: 1.3em;
